// Styling for the skills section
#skills {
    font-size: 20px;
    h3 {
        text-align: center;
        margin-bottom: 1em;
    }
    ul {
        list-style: square;
        li {
            font-size: 20px;
        }
    }
}
